.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    backgound-color: rgba(0, 217, 160, 0.75);
  }

  100% {
    background-color: grey;
    transform: scale(1);
    border-radius: 0;
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.6);
    background-color: #EEC643;
    border-radius: 100%;
  }

  50% {
    background-color: #141414;
  }

  75% {
    transform: scale(1.1);
    backgound-color: #0D21A1;
    border-radius: 50%;
  }

  100% {
    background-color: #011638;
    transform: scale(1);
    border-radius: 0;
  }
}

@keyframes shortestPathAnimation {
  0% {
    transform: scale(0.3);
    background-color: #6622CC;
    border-radius: 100%;
  }

  50% {
    background-color: #A755C2;
  }

  75% {
    transform: scale(1.1);
    backgound-color: #B07C9E;
    border-radius: 50%;
  }

  100% {
    background-color: #D2A1B8;
    transform: scale(1);
    border-radius: 0;
  }
}